/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; // 👈 important
}

body {
  background: linear-gradient(120deg, #d4b25a 0%, #3c2b19 40%, #040409 100%);
  margin: 0;
  padding-top: 90px;
}